* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

button {
    margin:0;
    padding:0;
    font-weight: bold;
    font-size: 1em;
    max-height: 200px;
    appearance: none;
    background-color: #ffffff;
    border: 2px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 2px 0, rgba(255, 255, 255, 0.25) 0 2px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    padding: .2em 2px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

button:hover {
    background-color: rgb(220, 225, 231);
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
button:disabled {
background-color: #FAFBFC;
border-color: rgba(27, 31, 35, 0.15);
color: #959DA5;
cursor: default;
}

button:active {
background-color: #EDEFF2;
box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
transition: none 0s;
}

button:focus {
outline: 1px transparent;
}

button:before {
display: none;
}

button:-webkit-details-marker {
display: none;
}

#logInForm {
    margin-right: .5em;
}

.formations {
    font-size: .9em;
}

.allcontent {
    background-color: lightgray;
    height: fit-content;
    height: 92vh;
}
.spacer {
    height: 2%;
}
.canvascontainer {
    display: flex;
    justify-content: space-between;
}

.canvasdisplay {
    margin-right: 1em;
    margin-left: 1em;
}

.maincontent {
    display: flex;
    justify-content: center;
}

.navbar {
    height: 8vh;
    width: 100%;
    background-color: lightyellow;
    border-bottom: grey solid 2px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

#authForm {
    display: flex;
    flex-direction: row;
}

h1 {
    margin: 0px;
}

.headlinecontainermiddle {
    margin-top: .5em;
    margin-bottom: .5em;
}



.popup {
    width: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.1s, top 0.1s;
}

.formPopup {
    width: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.1s, top 0.1s;
}

.signUpformPopup {
    width: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.1s, top 0.1s;
}

.signOut {
    display:none;
}

#signedInText {
    /* min-height: 6rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: 100%;
    overflow: auto;
}



.popupheader {
    visibility: inherit;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    top: 70%;
    background-color: white;
    opacity: 100%;
    transform: translate(25%, 105%) scale(1);
    height: 10%;
    width:70%;
    border-bottom: grey solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.gridcontainer{
    visibility: inherit;
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
    top: 50%;
    background-color: white;
    opacity: 100%;
    transform: translate(25%, 15%) scale(1);
    height: 70%;
    width:70%;
    overflow: auto;
}

.formgridcontainer{
    visibility: inherit;
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
    top: 50%;
    background-color: white;
    opacity: 100%;
    transform: translate(115%, 15%) scale(1);
    height: 70%;
    width:30%;
    overflow: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formItems {
    margin-top: 1em;
}

.buttoncontainer {
    padding: 5px;
    margin: 0;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    height:70%;
    row-gap: 5px;
    justify-self: center;
}

.formationcontainer {
    padding: 0;
    margin: 0;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}

.routebuttoncontainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    justify-self: center;
}

.savebuttoncontainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
    justify-self: center;
    align-items: center;
}



.buttoncontainer>* {
    flex: 1 1 200px;
}

.headlinecontainer {
    width: 400px;
    padding-top: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.headlinecontainermiddle {
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    justify-self: center;
    margin: 5px;
}

h3 {
    justify-self: center;
    align-self: center;
    margin: 5px;;
}

#canvas {
    border: 2px solid black;
    object-fit: none;
    min-width: 0;
}

.savecontainer {
    display: flex;
    justify-content: center;
}

#customRouteFinished {
    justify-self: center;
}

.leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .allcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.content {
    width: 90%;
}

.playList {
    border: black 2px solid;
    margin: 1%;
}

.playTitle {
    align-self: center;
}

#playContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#playContainer::after {
    content: "";
    flex: auto;
  }

#close {
    background-color: red;
    color: white;
    width: 2em;
    height: 2em;
}

#playName {
    width: 300px;
    height: 2em;
    padding-left: .2em;
}
#playDescription {
    width: 100%;
    box-sizing: border-box;
    font-size: small;
    padding-left: .2em;
}

#formationSave {
    height: 2em;
    padding-left: .2em;
}

